.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  font-size: 26px;
}
p {
  font-size: 20px;
}
.success {
  color: #2dca73;
}
.error {
  color: #ff0b37;
}
.warning {
  color: #ffb800;
}
.info {
  color: #0f81e0;
}
.views {
  width: 800px;
}
.none {
  width: 600px;
}
